**/chromium
**/gcloud
**/Slack
**/spotify
**/Postman
**/GIMP
**/oni
**/sublime-text-3
**/pulse
**/plugged
**/vim/undo
**/vim/plugin
**/tmuxinator/metoo.yml
**/mopidy
**/mpd
**/cmus
**/transmission
**/obs-studio
**/gimg
**/calibre
**/Keybase
**/dconf
**/keybase
**/autostart
**/asciinema
**/configstore
**/gimp
**/menus
kmagrc
kdenliverc
kritarc
**/QtProject.conf
**/XMind\ ZEN
**/tmuxinator
