**/chromium
**/gcloud
**/Slack
**/spotify
**/Postman
**/GIMP
**/oni
**/sublime-text-3
**/pulse
**/plugged
**/vim/undo
**/vim/plugin
**/tmuxinator/metoo.yml
**/mopidy
**/mpd
**/cmus
**/transmission
**/obs-studio
**/gimg
**/calibre
**/Keybase
**/dconf
**/keybase
**/autostart
**/asciinema
**/configstore
**/gimp
**/menus
kmagrc
kdenliverc
kritarc
**/QtProject.conf
**/XMind\ ZEN
**/tmuxinator
**/Trolltech.conf
**/saved-breakpoints*
**/qalc.history
**/inkscape
**/Unknown\ Organization
**/VirtualBox
**/libreoffice
**/zoomus.conf
**/discord
**/gpick
**/gtk-*
.netrwhist
**/*redshift*
**/*transmission*

.local/share/*
!.local/share/applications
.local/share/applications/chrome*

.secrets
!.secrets.example
**/gnupg
**/oh-my-zsh
privaterc
**/elinks
